<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BiblioLivri.Model.Properties.Settings.BiblioLivraDBConnectionString"
            connectionString="Data Source=Notenick;Initial Catalog=BiblioLivraDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BiblioLivri.Model.Properties.Settings.BiblioLivriConnectionString"
            connectionString="Data Source=Notenick;Initial Catalog=BiblioLivri;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>