<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICCliente" />
                <binding name="BasicHttpBinding_ICLivro" />
                <binding name="BasicHttpBinding_ICEditora" />
                <binding name="BasicHttpBinding_ICAutor" />
                <binding name="BasicHttpBinding_ICGenero" />
                <binding name="BasicHttpBinding_ICFuncionario" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:26772/CCliente.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICCliente" contract="CCliente.ICCliente"
                name="BasicHttpBinding_ICCliente" />
            <endpoint address="http://localhost:26772/CLivro.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICLivro" contract="CLivro.ICLivro"
                name="BasicHttpBinding_ICLivro" />
            <endpoint address="http://localhost:26772/CEditora.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICEditora" contract="CEditora.ICEditora"
                name="BasicHttpBinding_ICEditora" />
            <endpoint address="http://localhost:26772/CAutor.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICAutor" contract="CAutor.ICAutor"
                name="BasicHttpBinding_ICAutor" />
            <endpoint address="http://localhost:26772/CGenero.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICGenero" contract="CGenero.ICGenero"
                name="BasicHttpBinding_ICGenero" />
            <endpoint address="http://localhost:26772/CFuncionario.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICFuncionario" contract="CFuncionario.ICFuncionario"
                name="BasicHttpBinding_ICFuncionario" />
        </client>
    </system.serviceModel>
</configuration>